// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        space_and_back: space_and_back {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_AND_BACK";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base Layer";
            bindings = <
&kp Q  &kp W  &kp F  &kp P       &kp B                          &kp J                    &kp L  &kp U      &kp Y    &kp SEMI
&kp A  &kp R  &kp S  &kp T       &kp G                          &kp M                    &kp N  &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C  &kp D       &kp V                          &kp K                    &kp H  &kp COMMA  &kp DOT  &kp FSLH
                     &kp LSHIFT  &space_and_back 4 BACKSPACE    &space_and_back 5 SPACE  &to 1
            >;
        };

        keyboard_movement {
            bindings = <
&none     &none           &kp PAGE_UP    &kp DEL    &bt BT_CLR      &none   &kp C_AC_COPY  &kp C_AC_PASTE  &kp C_AC_PASTE  &none
&kp LEFT  &kp DOWN_ARROW  &kp UP         &kp RIGHT  &bt BT_SEL 0    &none   &kp RALT       &kp RGUI        &kp RCTRL       &kp RSHFT
&none     &kp HOME        &kp PAGE_DOWN  &kp END    &bt BT_SEL 1    &none   &kp C_AC_UNDO  &kp C_AC_REDO   &kp C_AC_FIND   &none
                                         &to 0      &trans          &trans  &to 2
            >;
        };

        mouse_movement {
            bindings = <
&out OUT_TOG  &studio_unlock  &trans     &kp C_MUTE  &kp C_VOLUME_UP      &kp C_BRIGHTNESS_INC  &mkp LCLK       &mkp MCLK     &mkp RCLK       &trans
&kp LSHFT     &kp LCTRL       &kp LGUI   &kp LALT    &kp C_VOLUME_DOWN    &kp C_BRIGHTNESS_DEC  &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_DOWN  &mmv MOVE_RIGHT
&trans        &mkp RCLK       &mkp MCLK  &mkp LCLK   &kp C_AC_BACK        &kp C_AC_FORWARD      &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT
                                         &to 0       &mkp LCLK            &mkp RCLK             &to 3
            >;
        };

        functions {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        left_half {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        right_half {
            bindings = <
&out OUT_TOG  &bt BT_NXT  &studio_unlock  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans        &trans      &trans          &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans        &trans      &trans          &trans  &trans    &trans  &trans  &trans  &trans  &trans
                                          &trans  &trans    &trans  &trans
            >;
        };
    };
};
