// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include "keys_en_gb_extended.h"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 60    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        space_and_back: space_and_back {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_AND_BACK";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        repeat {
            bindings = <&kp A>;
            key-positions = <13 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base Layer";
            bindings = <
&kp GB_Q  &kp GB_W  &kp GB_F  &kp GB_P    &kp GB_B                       &kp GB_J                    &kp GB_L  &kp GB_U      &kp GB_Y    &kp GB_SQT
&kp GB_A  &kp GB_R  &kp GB_S  &kp GB_T    &kp GB_G                       &kp GB_M                    &kp GB_N  &kp GB_E      &kp GB_I    &kp GB_O
&kp GB_Z  &kp GB_X  &kp GB_C  &kp GB_D    &kp GB_V                       &kp GB_K                    &kp GB_H  &kp GB_COMMA  &kp GB_DOT  &kp GB_SEMICOLON
                              &kp LSHIFT  &space_and_back 4 BACKSPACE    &space_and_back 5 GB_SPACE  &to 1
            >;
        };

        keyboard_movement {
            bindings = <
&to 0     &kp LC(X)  &kp LC(V)  &kp LC(C)  &none     &bt BT_CLR    &kp HOME   &kp UP    &kp END    &none
&none     &kp LC(F)  &kp LC(Y)  &kp LC(Z)  &none     &bt BT_SEL 0  &kp LEFT   &kp DOWN  &kp RIGHT  &none
&kp LGUI  &kp LSHFT  &kp LALT   &kp LCTRL  &none     &bt BT_SEL 1  &kp PG_UP  &none     &kp PG_DN  &none
                                &to 0      &trans    &trans        &to 2
            >;
        };

        mouse_movement {
            bindings = <
&out OUT_TOG  &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &kp C_VOLUME_UP      &kp C_BRIGHTNESS_INC  &mkp LCLK       &msc SCRL_UP    &mkp RCLK        &none
&kp C_MUTE    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp C_VOLUME_DOWN    &kp C_BRIGHTNESS_DEC  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none
&kp LGUI      &kp LSHFT       &kp LALT        &kp LCTRL        &kp C_AC_BACK        &kp C_AC_FORWARD      &none           &mkp MCLK       &none            &none
                                              &to 0            &trans               &trans                &to 3
            >;
        };

        functions {
            bindings = <
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
&kp GB_N1  &kp GB_N2  &kp GB_N3  &kp GB_N4  &kp GB_N5    &kp GB_N6  &kp GB_N7  &kp GB_N8  &kp GB_N9  &kp GB_N0
&kp LGUI   &kp LSHFT  &kp LALT   &kp LCTRL  &kp F11      &kp F12    &kp LCTRL  &kp LALT   &kp LSHFT  &kp LGUI
                                 &to 0      &trans       &trans     &to 0
            >;
        };

        left_half {
            bindings = <
&kp GB_N1     &kp GB_N2       &kp GB_N3     &kp GB_N4   &kp GB_N5      &trans  &trans      &trans  &trans  &trans
&kp GB_GRAVE  &kp GB_LPAR     &kp GB_RPAR   &kp ESCAPE  &kp TAB        &trans  &trans      &trans  &trans  &trans
&kp LEFT_GUI  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LCTRL   &kp GB_HASH    &trans  &trans      &trans  &trans  &trans
                                            &trans      &trans         &trans  &kp DELETE
            >;
        };

        right_half {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp GB_N6     &kp GB_N7  &kp GB_N8     &kp GB_N9         &kp GB_N0
&trans  &trans  &trans  &trans  &trans    &kp GB_MINUS  &kp RET    &kp GB_SLASH  &kp GB_LBKT       &kp GB_RBKT
&trans  &trans  &trans  &trans  &trans    &kp GB_EQUAL  &kp LCTRL  &kp LEFT_ALT  &kp GB_BACKSLASH  &kp LEFT_GUI
                        &trans  &trans    &trans        &trans
            >;
        };
    };
};
